<!doctype html>
<html>
<% include common/head %>
<body>
<div class="header">
  <div class= "home-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="..">Choons API </a>
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class = "pure-menu-item pure-menu-selected"><a href='/'>Home</a></li>
        <li class = "pure-menu-item"><a href ="/signin"> Signin</a></li>
        <li class = "pure-menu-item"><a href ="/signup"> Signup</a></li>
      </ul>
  </div>
</div>
<div class="container">
  <h1>Signin</h1>

    <form action="/login" method="post" class="pure-form" id="login-form">
      <fieldset>
        <input id="email" class="pure-input-1" type="email" placeholder="Email Address" name="email" required>
        <input id="password" class="pure-input-1" type="password" placeholder="Password" name="password" required>
        <button type="submit" class="pure-button pure-button-primary">Sign-in</button>
        <p>Don't have an account?
          <a href="/signup">Signup</a> or go back to
          <a href="/">home</a>.</p>
      </fieldset>
    </form>
  </div>
<% include common/footer %>
</body>
</html>
